<html xmlns="https://www.w3.org/1999/xhtml">

<head>
    <title>Test Email Validate</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <!--<style></style>
    <link rel="stylesheet" href="styles.css">-->
	
</head>


<body class="em_body" style="margin:0px; padding:0px;" bgcolor="#ffffff">
    <table class="em_full_wrap" valign="top" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff"
        align="center">
        <tbody>
            <tr>
                <td valign="top" align="center">
                    <table class="em_main_table" style="width:700px;" width="700" cellspacing="0" cellpadding="0"
                        border="0" align="center">
                        <!--Header section-->
                        <tbody>

                            <!--//Header section-->
                            <!--Banner section-->
                            <tr>
                                <td valign="center" align="center" bgcolor="#ffffff" justify="center"
                                    style="margin-top: 50px;margin-bottom: 10px; display:block; font-family:Arial, sans-serif; font-size:30px; line-height:34px; max-width:700px;">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td valign="top" align="center" >
												<img class="em_img" alt="Logo" 
                                                    src="https://api.tustramitesvip.com/api/storage?url=https://tustramites-public.s3.amazonaws.com/banner/logocolor.png" width="162.631" height="73.218" border="0">
												<br>
												<br>
												<br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!--//Banner section-->
                            <!--Content Text Section-->
                            <tr>
								<td style="background-image:url(https://api.tustramitesvip.com/api/storage?url=https://tustramites-public.s3.amazonaws.com/banner/background.png); border-radius: 50px; height:200px; text-align: center;" class="em_padd" valign="top">
									<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
										<tbody>
											<tr>
												<td style="font-size:0px; line-height:0px; height:15px;">&nbsp;</td>
											</tr>
											<tr>
												<td style="font-family: 'Poppins', sans-serif; font-size:16px; color:#ffffff;" valign="top" align="center">Hola {{name}}, <br> Se ha solicitado restablecer tu contraseña, por favor presiona el siguiente botón para poder ayudarte.</td>
											</tr>
											<tr>
												<td style="font-size:0px; line-height:0px; height:30px;">&nbsp;</td>
											</tr>
											<tr>
												<td style="font-family: 'Poppins', sans-serif; font-size:16px; line-height:22px; color:#fbeb59; letter-spacing:2px; padding-bottom:12px;" valign="top" align="center">
													<a href="{{link}}" target="_blank">
														<button type="button" style=" background-image: linear-gradient(180deg, #fcd931 0%, #fc9827 100%); box-shadow: 0px 3px 6px #03eb2929; border: 0; color: #8556ee; font-size: 16px; font-weight: 700; border-radius: 32px; transition: all 0.3s ease; padding: 11px;">Restablecer Contraseña</button>
													</a>
												</td>
											</tr>
											<tr>
												<td class="em_h20" style="font-size:0px; line-height:0px; height:5px;">&nbsp;</td>
											</tr>
											<tr>
												<td style="font-family: 'Poppins', sans-serif; font-size:12px; line-height:22px; color:#ffffff; padding-bottom:12px;" valign="top" align="center">Por favor no respondas este correo.</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>

                            <!--//Content Text Section-->
                            <!--Footer Section #f6f7f8-->
                            <tr>
                                <td style="padding:38px 30px;" class="em_padd" valign="top" bgcolor="#ffffff"
                                    align="center">
                                    <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td style="padding-bottom:16px;" valign="top" align="center">
                                                    <table cellspacing="0" cellpadding="0" border="0" align="center">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" align="center"><a href="https://www.facebook.com/TusTramitesVIP"
                                                                        target="_blank"
                                                                        style="text-decoration:none;"> <!--313485_facebook_fb_icon.svg
																		<svg enable-background="new 0 0 512 512" height="50px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="facebook"><path d="M278.5,219.5v-26.998c0-12.187,2.946-18.002,21.864-18.002H323.5v-45h-39.007   c-48.535,0-63.993,21.553-63.993,59.744V219.5h-33v46h33v136h58v-136h40.216l5.385-46H278.5z" fill="#344C8A"/><path d="M254.5,16.5c-131.996,0-239,107.004-239,239s107.004,239,239,239s239-107.004,239-239   S386.496,16.5,254.5,16.5z M412.892,413.892C370.584,456.2,314.333,479.5,254.5,479.5c-59.833,0-116.084-23.3-158.392-65.608   C53.8,371.584,30.5,315.333,30.5,255.5c0-59.833,23.3-116.084,65.608-158.392C138.416,54.8,194.667,31.5,254.5,31.5   c59.833,0,116.084,23.3,158.392,65.608C455.2,139.416,478.5,195.667,478.5,255.5C478.5,315.333,455.2,371.584,412.892,413.892z" fill="#344C8A"/></g></svg>-->
																		<img
                                                                            src="https://api.tustramitesvip.com/api/storage?url=https://tustramites-public.s3.amazonaws.com/banner/facebook.png"
                                                                            alt="fb"
                                                                            width="50px" border="0" height="50px">
																	</td>
																	<td style="width:6px;" width="6">&nbsp;</td>
																	<td style="width:6px;" width="6">&nbsp;</td>
																	<td style="width:6px;" width="6">&nbsp;</td>
																		<!--<img
                                                                            src="C:/tu-experto-api/public/assets/logo/fb.svg"
                                                                            alt="fb"
                                                                            style="display:block; font-family:Arial, sans-serif; font-size:14px; line-height:14px; color:#ffffff; max-width:26px;"
                                                                            width="26" border="0" height="26"></a></td>-->
                                                                <!--<td style="width:6px;" width="6">&nbsp;</td>-->
                                                                <!--<td valign="top" align="center"><a href="#"
                                                                        target="_blank"
                                                                        style="text-decoration:none;"><img
                                                                            src="C:/tu-experto-api/public/assets/logo/ins.svg"
                                                                            alt="tw"
                                                                            style="display:block; font-family:Arial, sans-serif; font-size:14px; line-height:14px; color:#ffffff; max-width:27px;"
                                                                            width="27" border="0" height="26"></a></td>
                                                                <td style="width:6px;" width="6">&nbsp;</td>-->
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-family: 'Poppins', sans-serif;; font-size:11px; line-height:18px; color:#878787;"
                                                    valign="top" align="center"><a href="{{url}}" target="_blank"
                                                        style="color:#878787; text-decoration:underline;">Políticas de privacidad
                                                    </a> 
												    <!--| <a href="#" target="_blank"
                                                        style="color:#878787; text-decoration:underline;">Términos y
                                                        condiciones</a>-->
														<br>
                                                    © 2021 Tus Trámites VIP. Todos los derechos reservados.<br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
